<div class='col-sm-12 container'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">BookShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewbooks' %}">Books</a>
        </li>
      </ul>
      <ul class="navbar-nav">
      <li class="nav-item dropdown">
          {% if request.user.is_authenticated %}
            {% if user is request.user %}
              <a class="nav-link dropdown-toggle" href="{% url 'home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user}}({{user.user_type}})
              </a>
            {% endif %}
          {% else %}
            <a class="nav-link active" href="{% url 'login' %}">Login/Signup</a>
          {% endif %}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'userprofile' %}">Profile</a>
            {% if request.user.user_type == "Customer" %}
            <a class="dropdown-item" href="{% url 'viewpurchasedbooks' %}">Purchased Books</a>
            {% endif %}
            {% if request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'addbook' %}">Add Book</a>
            {% endif %}
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
        </ul>
    </div>
  </nav>
  </div>