<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if books.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{books.previous_page_number}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{books.previous_page_number}}">{{books.previous_page_number}}</a></li>
        {% endif %}
        {% if books.number%}
            <li class="page-item active"><a class="page-link" href="?page={{books.number}}">{{books.number}}</a></li>
        {% endif %}
        <li class="page-item">
        {% if books.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{books.next_page_number}}">Next</a></li>
        {% endif %}
      </li>
    </ul>
  </nav>
