{% extends "app/base.html" %}

{% block title %}Books{% endblock title %}

{% load static %}

{% block style %}
.body{
    background:#ddd;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.bottomright {
    position: absolute;
    bottom: 65px;
    right: 16px;
    font-size: 17px;
}

.bottomleft {
    position: absolute;
    bottom: 65px;
    left: 16px;
    font-size: 17px;
}

.rbtn {
    position: absolute;
    bottom: 11.7px;
    right: 20px;
    font-size: 16.5px;
}

.aname {
    position: absolute;
    bottom: 145px;
    right: 30px;
    font-size: 16.5px;
    font-family: "Sofia", sans-serif;
}

{% endblock style %}


{% block msg %}
<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success - </strong>
            {% else %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Error - </strong>
            {% endif %}
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock msg %}

{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br/>
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="get", action="/search">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search books" name="query" id="query">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>

<div class="col-sm-10 container">
    {% for book in books %}
        {% if forloop.counter0|divisibleby:3 %} <div class="row"> {%  endif %}
            <div class="col-md-4">
                <div class="card mt-5">
                    <img class="card-img-top" src="{% static "images/image1.jpeg" %}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title text-dark">{{book.bookname}}</h3>
                        <p class="aname card-text text-secondary">-- by ' {{book.author}} '</p>
                    </div>
                    <hr>
                    <div class="container">
                        <p class="bottomleft text-dark">Price - <b class="text-danger">{{book.price}}/-</b></p>
                        <p class="bottomright text-dark">Quantity<b class="text-danger">({{book.quantity}})</b></p>
                    </div>
                    <br>
                    <br>
                    <div class="card-footer">
                        {% if request.user.is_staff %}
                        <a href="{% url 'updatebook' book.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'deletebook' book.id %}" class="rbtn btn btn-danger ml-2">Delete</a>
                        {% else %}
                        <a href="{% url 'purchasebook' book.id %}" class="btn btn-primary">Buy</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {%if forloop.counter|divisibleby:3 or forloop.last %}</div><br><br>{%  endif %}
    {%  endfor %}
</div>
{% endblock content %}
{% block page2 %}
<hr>
{% include 'app/pagination.html' %}
<br>
<br>
{% endblock page2 %}


